.Cursor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    canvas,
    svg {
        width: 100% !important;
        height: 100% !important;
    }
}

.Cursor--default {
    opacity: 0.9;
}

.Cursor--button {
    opacity: 1;
}

.Cursor--text {
    opacity: 1;
}

.Cursor--link {
    opacity: 1;
}

.Cursor--disabled {
    opacity: 0.5;
}

.Cursor--drag {
    opacity: 1;
}