.click-pulse-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    /* allow clicks to pass through */
    z-index: 9998;
    /* under custom cursor if needed */
}

.click-pulse {
    position: fixed;
    /* fixed to viewport, matches clientX/clientY */
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    /* center on provided left/top */
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    background: rgba(187, 187, 187, 0.44);
    box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.434) inset;
    will-change: transform, opacity;
    animation: clickPulse 1000ms ease-out forwards;
}

@keyframes clickPulse {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0.2;
    }

    50% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 1;
    }

    90% {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0.2;
    }

    100% {
        transform: translate(-50%, -50%) scale(5);
        opacity: 0;
    }
}